<body>

<app-top-bar></app-top-bar>

<mat-drawer-container>

  <mat-drawer class="sidebar-content" mode="side" opened>
    <mat-grid-list [cols]="6" rowHeight="66.1">
      <mat-grid-tile [colspan]="6" [rowspan]="6">

        <app-info-screen></app-info-screen>

      </mat-grid-tile>

      <mat-grid-tile [colspan]="6" [rowspan]="7">
        <mat-card class="dashboard-card">
          Custom Search
          <mat-tab-group>
            <mat-tab label="Drone Search"><app-drone-search></app-drone-search></mat-tab>
            <mat-tab label="Restricted Zone Search"><app-zone-search></app-zone-search></mat-tab>
          </mat-tab-group>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer>

  <mat-drawer-content class="mainbar-content">
    <app-map></app-map>
  </mat-drawer-content>

</mat-drawer-container>

</body>


