/*.mainbar-content{
  height: 800px;
}*/

.dashboard-card {
  height: 90%;
  width: 100%;
}

.sidebar-content{
  height: 100%;
  width: 375px;
}

.mat-grid-tile {
  background-color: rgb(241, 241, 242);
}

.myGridList{
  height: 100%;
}
