
.dashboard-card{
  text-align: left;
  min-width: 330px;
  min-height: 375px;
}

.myGridList{
  height: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Float columns side by side */
.column-left {
  text-align: center;
  float: left;
  width: 55%;
  height: 20px;
  padding-right: 15px;
  padding-top: 30px;
  padding-left: 0px;
}
/* Float columns side by side */
.column-right {
  text-align: center;
  float: left;
  width: 40%;
  height: 30px;
  padding-bottom: 13px;
  padding-top: 30px;
}

.no-drone-content{
  padding-top: 160px;
  padding-left: 27px;
  font-style: italic;
}
