

<mat-toolbar class="Toolbar-content">

  <!-- nav links-->
  <span class="title-content"> Drone Monitoring System </span>

  <div class="top-bar-alignment">
    <button mat-button class="button-content" routerLink="/home">Home</button>
    <button mat-button class="button-content" routerLink="/zoneCreation">Zone Creation</button>
    <button mat-button class="button-content" routerLink="/aboutPage">About</button>
    <button mat-button class="button-content" routerLink="/contactPage">Contact</button>
  </div>

</mat-toolbar>

