<mat-card class="zone-creation-card">

  Zone Creation

  <div>
    <mat-form-field class="ZoneNameField">
      <input #zoneNameInput (change)="updateZoneName(zoneNameInput.value)" matInput placeholder="Zone Name">
    </mat-form-field>
  </div>

  <div style="text-align: center">
    <mat-button-toggle-group>
      <mat-button-toggle class="zone-form-button" (change)="changeCurrentlySelectedMode('Circle')"><i
        class="material-icons">panorama_fish_eye</i>
      </mat-button-toggle>
      <mat-button-toggle class="zone-form-button" (change)="changeCurrentlySelectedMode('Freeform')"><i
        class="material-icons">fullscreen</i>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!--
Circle : show Center and Radius
-->
  <div *ngIf="!this.editedZone.polygonBased">
    <div style="padding: 20px;">
      Click circle on the map to create a zone
    </div>
    <div>
      <mat-list-item *ngFor="let circle of observableEditedZone | async">

          <button [ngClass]="(circleSelection !== 0) ? 'circleSelectionButton' : 'circleSelectionButtonSelected'" mat-raised-button (click)="setCircleSelection(0)">
            Center of circle:
            <div *ngIf="circle !== null && circle.polygonPoints[0] !== null">
              <div *ngIf="circle.polygonPoints[0] !== null">
                {{circle.getLatitude(0)}}, {{circle.getLongitude(0)}}
              </div>
            </div>
          </button>

          <button [ngClass]="(circleSelection !== 1) ? 'circleSelectionButton' : 'circleSelectionButtonSelected'" mat-raised-button (click)="setCircleSelection(1)">
            Circle Radius:
            <div *ngIf="circle !== null && circle.polygonPoints[0] !== null">
              <div *ngIf="circle.polygonPoints[1] !== null">
                {{circle.getLatitude(1)}}
              </div>
            </div>
          </button>

      </mat-list-item>
    </div>
  </div>

  <!--
 Polygon : show list of points
 -->
  <div *ngIf="this.editedZone.polygonBased">
    <div>
      Click points on the map to create a zone
    </div>

    <div>
      <cdk-virtual-scroll-viewport itemSize="100">
        <mat-list-item *cdkVirtualFor="let geoLocation of (displayedPoints | async); let i = index;">
          <div>
            <div>
              <mat-form-field>
                <mat-label>Latitude</mat-label>
                <input #lat matInput (change)="modifyPoint(i, 0 ,lat.value)" [value]="geoLocation.latitude.toString()">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Longitude</mat-label>
                <input #long matInput (change)="modifyPoint(i, 1, long.value)"
                       [value]="geoLocation.longitude.toString()">
              </mat-form-field>
            </div>
            <button mat-button (click)="removePoint(i)"><i class="material-icons">clear</i></button>
          </div>
        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>


  <div class="centerElements">
    <button class="zone-form-button" mat-raised-button (click)="clearEditedZone();zoneNameInput.value='';">Clear
    </button>
    <button class="zone-form-button" mat-raised-button (click)="saveEditedZone();zoneNameInput.value='';" [disabled]="isSaveDisabled()">Save
    </button>
  </div>

</mat-card>
