<mat-card class="zone-creation-card">

  Zone Creation

  <div>
  <mat-form-field class="ZoneNameField">
    <input #zoneName (change)="updateZoneName(zoneName.value)" matInput placeholder="Zone Name">
  </mat-form-field>
  </div>

  <div style="text-align: center">
  <mat-button-toggle-group >
    <mat-button-toggle class="zone-form-button" (change)="changeCurrentlySelectedMode('Square')"><i class="material-icons">crop_square</i>
    </mat-button-toggle>
    <mat-button-toggle class="zone-form-button" (change)="changeCurrentlySelectedMode('Circle')"><i class="material-icons">panorama_fish_eye</i>
    </mat-button-toggle>
    <mat-button-toggle class="zone-form-button" (change)="changeCurrentlySelectedMode('Freeform')"><i class="material-icons">fullscreen</i>
    </mat-button-toggle>
  </mat-button-toggle-group>
  </div>

  <!--

 Square : Show list of points

 Polygon : show list of points
 -->
  <div *ngIf="this.currentlySelectedMode === 'Square' || this.currentlySelectedMode === 'Freeform'">
    <div *ngIf="isZoneEmpty()">
      Enter points on the map to create a zone
    </div>
    <div *ngIf="!isZoneEmpty()">
      Zone Points
    </div>

    <mat-list-item *ngFor="let geoLocation of displayedPoints | async">
      <h3>
        {{geoLocation.latitude}},{{geoLocation.longitude}}
      </h3>
    </mat-list-item>
  </div>

  <!--
 Circle : show Center and Radius
  -->
  <div *ngIf="this.currentlySelectedMode === 'Circle'">
    <div *ngIf="isZoneEmpty()">
      Enter circle on the map to create a zone
    </div>
    <div *ngIf="!isZoneEmpty()">
      Zone Circle
    </div>

    <mat-list-item *ngFor="let circle of displayedCircle | async">
      <h3>
        Center of circle: {{circle.geoLocation.latitude}}, {{circle.geoLocation.longitude}}
        Circle Radius: {{circle.radius}}
      </h3>
    </mat-list-item>
  </div>


  <div class="centerElements">
    <button class="zone-form-button" mat-raised-button (click)="clearEditedZone()" [disabled]="isZoneEmpty()">Clear</button>
    <button class="zone-form-button" mat-raised-button (click)="saveEditedZone()" [disabled]="isSaveDisabled()" >Save</button>
  </div>

</mat-card>
