/*.mainbar-content{
  height: 872px;
}*/

.dashboard-card{
  height: 90%;
  width: 86%;
}

.sidebar-content{
  height: 100%;
  width: 375px;
  background-color: rgb(241, 241, 242);
}

#map_zone_creation {
    height: 94vh;
    width: 100%;
   }
