.zoneSelectionButton {
  min-width: available;
  max-width: 300px;
  width: 100%;
}

.zoneSelectionButtonSelected {
  min-width: available;
  max-width: 300px;
  width: 100%;
  background: darkgrey;
}

