.droneSelectionButton {
  min-width: available;
  max-width: 300px;
  width: 100%;
}

.droneSelectionButtonSelected {
  min-width: available;
  max-width: 300px;
  width: 100%;
  background: darkgrey;
}
